<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="machine_ip" value="localhost" />

  <targets>
    <target name="DefaultFileLog" xsi:type="File"
                    fileName="${basedir}/Logs/defaultlog_${shortdate}.txt"
                    layout="${longdate} | thread: ${threadid} | ${level:uppercase=false} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}"
                    encoding="UTF-8" />
    <target xsi:type="Mail"
          name="DefaultEmailLog"
          subject="VPClub.PayCallback.BizServerPush服务错误 - ${machinename} - ${var:machine_ip}"
          to="huodbdev@qq.com"
          from="tan.zhengcheng@vpclub.cn"
          body="${message} ${newline} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}"
          smtpUserName="tan.zhengcheng@vpclub.cn"
          enableSsl="false"
          smtpPassword="CRAC3TEnn2HZrVYz"
          smtpAuthentication="Basic"
          smtpServer="smtp.exmail.qq.com"
          smtpPort="25" />
  </targets>
  <rules>
    <logger name="DefaultFileLog"  minlevel="Info" writeTo="DefaultFileLog" />
    <logger name="DefaultEmailLog" minlevel="Error" writeTo="DefaultEmailLog" />
  </rules>
</nlog>